extends layout

block content
  div.container
   form#myForm.form-sentiment(role="form")
    h1= title
    p Enter a word to have the HN community's sentiment towards it analyzed
    input#inText.form-control(type="text", placeholder="Word to be analyzed", required, autofocus)
    button#submit.btn.btn-lg.btn-primary.btn-block(type="submit") Anaylze
    br

    h4#sentiment(style="text-align:center;")
    #symbols(style="text-align:center;")
    .container(style="text-align:center;")
      #positive
      #negative